/* Add your styles for the button and dropdown here */

.navbar-collapse {
    position: relative;
    display: inline-block;
  }
  
  .hover-btn {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-menu a {
    color: #333;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
  }
  
  .dropdown-menu a:hover {
    background-color: #ddd;
  }
  
  .navbar-collapse:hover .dropdown-menu {
    display: block;
  }
  .navbar-expand-sm{
    cursor: pointer;

  }
  